/*Work sans font from google*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;800&display=swap');

/*--------shared items-----*/

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.btn-primary{
    background-color: rgb(129, 111, 5);
    border-radius: 8px;
    padding: 20px 30px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

header{
    background: rgba(255, 144, 14, 0.10);
}

/*nav bar*/


nav {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 3rem;
    font-weight: 700;
    margin-left: 30px;
}

nav > ul{
    
    display: flex;
   list-style: none;
}
nav  li a{
    text-decoration: none;
    
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
}

/*--banner-----*/

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
font-weight: 700;
color: #131313 ;
}

.banner-description {
    color: #727272;
}

